<span class="scroll-to-top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
    <a (click)="scrollToTop()">
        <mat-icon aria-hidden="false">keyboard_arrow_up</mat-icon> 
    </a>
  </span> 

<mat-card class="b1">
    <mat-card-content class="mainwrapper">
        <mat-card-content class="logowrapper">
            <img src="../../../assets/images/logo.png">
        </mat-card-content>
        <mat-card-content class="imgbanner">
            <img src="../../../assets/images/banner-img1.png">
            <img src="../../../assets/images/banner-img2.png">
        </mat-card-content>
        <mat-card-content class="b1-content">            
            <mat-card-title class="m-c-t">We are a full-service <br>integrated<br> software engineering, </mat-card-title>
            <mat-card-subtitle class="m-c-subt">consulting, sales organizational management, business management, branding and <br>web development firm.</mat-card-subtitle>
        </mat-card-content>        
    </mat-card-content>
</mat-card>


<mat-card class="b2">
    <mat-card-content class="mainwrapper"> 
        <mat-card-content class="b2-content">  
            <mat-card-content class="imgmanwrapper">
                <img src="../../../assets/images/banner-imgman.png">
            </mat-card-content>
            <mat-card-content class="coldiv">
                <mat-card-content class="column4">
                    <mat-card class="animated slideInUp">
                        <span class="icon">
                            <img src="../../../assets/images/b1-icon1.png">
                        </span>
                        <mat-card-title>Custom Software Development</mat-card-title>
                    </mat-card>
                    <mat-card class="animated slideInUp">
                        <span class="icon">
                            <img src="../../../assets/images/b1-icon2.png">
                        </span>
                        <mat-card-title>Custom Software Development</mat-card-title>
                    </mat-card>
                    <mat-card class="animated slideInUp">
                        <span class="icon">
                            <img src="../../../assets/images/b1-icon3.png">
                        </span>
                        <mat-card-title>Custom Software Development</mat-card-title>
                    </mat-card>
                    <mat-card class="animated slideInUp">
                        <span class="icon">
                            <img src="../../../assets/images/b1-icon4.png">
                        </span>
                        <mat-card-title>Custom Software Development</mat-card-title>
                    </mat-card>
                </mat-card-content>
            </mat-card-content>  
            <p class="mat-card-title animated slideInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </mat-card-content>  
    </mat-card-content>
</mat-card>

<mat-card class="b3">
    <mat-card-content class="mainwrapper"> 
        <mat-card-content class="b2-bottom">
            <mat-card-content class="flex-row-gen parallaxwrapper">
                <div class="content-block">
                    <mat-card-content class="main-row-gen">
                        <mat-card-title class="m-c-t2">Custom Software Development</mat-card-title>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        <button mat-button class="btnorange">View More</button>                    
                    </mat-card-content>
                    <mat-card-content class="sideblock-row-gen">
                        <img src="../../../assets/images/b2-img-mobile.png">
                    </mat-card-content>
                </div>                
                <div id="parallaxwrapper">
                    <div class="parallax">
                        <img src="../../../assets/images/svg1-p1.png" class="svg1-p1">
                        <img src="../../../assets/images/svg2-p1.png" class="svg2-p1">
                        <img src="../../../assets/images/svg3-p1.png" class="svg3-p1">
                        <img src="../../../assets/images/svg4-p1.png" class="svg4-p1">
                        <img src="../../../assets/images/svg5-p1.png" class="svg5-p1">
                        <img src="../../../assets/images/svg6-p1.png" class="svg6-p1">
                        <img src="../../../assets/images/svg7-p1.png" class="svg7-p1">
                    </div>
                </div>                
            </mat-card-content>
        </mat-card-content>
    </mat-card-content>
</mat-card>

<mat-card class="b4">
    <mat-card-content class="mainwrapper"> 
        <mat-card-content class="b2-bottom">           
            <mat-card-content class="flex-row-gen parallaxwrapper1">
                <div class="content-block">
                    <mat-card-content class="main-row-gen">
                        <mat-card-title class="m-c-t2">Custom Branding and Design</mat-card-title>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        <button mat-button class="btnblue">View More</button>                    
                    </mat-card-content>
                    <mat-card-content class="sideblock-row-gen">
                        <img src="../../../assets/images/b3-img-mobile.png">
                    </mat-card-content>
                </div>
                
                <div id="parallaxwrapper1">
                    <div class="parallax1">
                        <img src="../../../assets/images/svg1-p1.png" class="svg1-p2">
                        <img src="../../../assets/images/svg2-p2.png" class="svg2-p2">
                        <img src="../../../assets/images/svg3-p1.png" class="svg3-p2">
                        <img src="../../../assets/images/svg4-p2.png" class="svg4-p2">
                        <img src="../../../assets/images/svg5-p2.png" class="svg5-p2">
                        <img src="../../../assets/images/svg6-p2.png" class="svg6-p2">
                        <img src="../../../assets/images/svg7-p1.png" class="svg7-p2">
                    </div>
                </div> 
            </mat-card-content>           
        </mat-card-content>
    </mat-card-content>
</mat-card>


<mat-card class="b5">
    <mat-card-content class="mainwrapper"> 
        <mat-card-content class="b2-bottom">
            <mat-card-content class="flex-row-gen parallaxwrapper2">
                <div class="content-block">
                    <mat-card-content class="main-row-gen">
                        <mat-card-title class="m-c-t2">Logo Designs</mat-card-title>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        <button mat-button class="btnorange">View More</button>                    
                    </mat-card-content>
                    <mat-card-content class="sideblock-row-gen">
                        <img src="../../../assets/images/b4-img-mobile.png">
                    </mat-card-content>
                </div>                
                <div id="parallaxwrapper2">
                    <div class="parallax2">
                        <img src="../../../assets/images/svg1-p1.png" class="svg1-p3">
                        <img src="../../../assets/images/svg2-p3.png" class="svg2-p3">
                        <img src="../../../assets/images/svg3-p1.png" class="svg3-p3">
                        <img src="../../../assets/images/svg4-p3.png" class="svg4-p3">
                        <img src="../../../assets/images/svg5-p1.png" class="svg5-p3">
                        <img src="../../../assets/images/svg6-p1.png" class="svg6-p3">
                        <img src="../../../assets/images/svg7-p1.png" class="svg7-p3">
                        <img src="../../../assets/images/svg8-p3.png" class="svg8-p3">
                    </div>
                </div>                
            </mat-card-content>
        </mat-card-content>
    </mat-card-content>
</mat-card>


<mat-card class="b6">
    <mat-card-content class="mainwrapper"> 
        <mat-card-content class="b2-bottom">           
            <mat-card-content class="flex-row-gen parallaxwrapper3">
                <div class="content-block">
                    <mat-card-content class="main-row-gen">
                        <mat-card-title class="m-c-t2">Mobile Application Designs</mat-card-title>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        <button mat-button class="btnblue">View More</button>                    
                    </mat-card-content>
                    <mat-card-content class="sideblock-row-gen">
                        <img src="../../../assets/images/b5-img-mobile.png">
                    </mat-card-content>
                </div>
                
                <div id="parallaxwrapper3">
                    <div class="parallax3">
                        <img src="../../../assets/images/svg1-p1.png" class="svg1-p4">
                        <img src="../../../assets/images/svg2-p4.png" class="svg2-p4">
                        <img src="../../../assets/images/svg3-p1.png" class="svg3-p4">
                        <img src="../../../assets/images/svg4-p4.png" class="svg4-p4">
                        <img src="../../../assets/images/svg5-p2.png" class="svg5-p4">
                        <img src="../../../assets/images/svg6-p2.png" class="svg6-p4">
                        <img src="../../../assets/images/svg7-p1.png" class="svg7-p4">
                        <img src="../../../assets/images/svg8-p4.png" class="svg8-p4">
                    </div>
                </div> 
            </mat-card-content>           
        </mat-card-content>
    </mat-card-content>
</mat-card>


<mat-card class="clientbox">
    <mat-card-content class="mainwrapper"> 
        <mat-card-title class="m-c-t2">Service Built On Trust</mat-card-title>
        <p>We empower businesses owners through results driven development and design. Here are some of our clients. </p>
        <mat-list>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client1.png">
                </span> 
            </mat-list-item>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client2.png">
                </span> 
            </mat-list-item>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client3.png">
                </span> 
            </mat-list-item>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client4.png">
                </span> 
            </mat-list-item>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client5.png">
                </span> 
            </mat-list-item>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client6.png">
                </span> 
            </mat-list-item>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client7.png">
                </span> 
            </mat-list-item>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client8.png">
                </span> 
            </mat-list-item>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client9.png">
                </span> 
            </mat-list-item>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client10.png">
                </span> 
            </mat-list-item>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client11.png">
                </span> 
            </mat-list-item>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client12.png">
                </span> 
            </mat-list-item>
            <mat-list-item class="animated slideInUp"> 
                <span class="clientboxbox">
                    <img src="../../../assets/images/img-client13.png">
                </span> 
            </mat-list-item>
           </mat-list>
    </mat-card-content>
</mat-card>        


<mat-card class="prefooterblock">
    <mat-card-content class="mainwrapper">
        <mat-card-content class="flex-row-gen">
            <div class="content-block">
                <mat-card-content class="main-row-gen">
                    <mat-card-title class="m-c-t2">Let's Create Something Together!</mat-card-title>
                    <p>Ready to introduce your brand and company to hundreds of millions of customers across the world?</p>
                    <mat-card-content class="logowrapper">
                        <img src="../../../assets/images/logo.png">
                    </mat-card-content>  
                    <mat-list class="contactinfo">
                        <mat-list-item><span class="icon"><mat-icon> location_on</mat-icon></span> 180 N Broadway St Blackfoot, ID 83221 </mat-list-item>
                        <mat-list-item><span class="icon"><mat-icon> mail_outline</mat-icon></span> <a href = "mailto: support@lampconsulting.com">support@lampconsulting.com</a> </mat-list-item>
                       </mat-list>                
                </mat-card-content>
                <mat-card-content class="sideblock-row-gen">
                    <div class="example-container">
                        <form [formGroup]="options">
                             <mat-label>Name <span>*</span></mat-label>
                              <mat-form-field>
                                <input matInput type="text" formControlName="name" (blur)="inputUntouched(UpdateForm,'name')">
                                <mat-error
                                  *ngIf="!UpdateForm.controls['name'].valid && UpdateForm.controls['name'].errors.required && UpdateForm.controls['name'].touched">
                                  First Name field can not be blank</mat-error>
                              </mat-form-field>
                              <mat-label>Email <span>*</span></mat-label>                
                              <mat-form-field>
                                <input matInput type="text" formControlName="email" (blur)="inputUntouched(UpdateForm,'email')">
                                <mat-error
                                  *ngIf="!UpdateForm.controls['email'].valid && UpdateForm.controls['email'].errors.required && UpdateForm.controls['email'].touched">
                                  Email field can not be blank</mat-error>
                                <mat-error *ngIf="!UpdateForm.controls['email'].valid && !UpdateForm.controls['email'].errors.required">Email is not valid</mat-error>
                              </mat-form-field>
                             <mat-label>Phone</mat-label>   
                              <mat-form-field>
                                <input matInput type="text" formControlName="phone" (blur)="inputUntouched(UpdateForm,'phone')">
                                <mat-error
                                  *ngIf="!UpdateForm.controls['phone'].valid && UpdateForm.controls['phone'].errors.required && UpdateForm.controls['phone'].touched">
                                  Phone Number field can not be blank</mat-error>
                              </mat-form-field>
                              <mat-label>Message</mat-label> 
                              <mat-form-field>
                                <input matInput type="text" formControlName="message" (blur)="inputUntouched(UpdateForm,'message')">
                                <mat-error
                                  *ngIf="!UpdateForm.controls['message'].valid && UpdateForm.controls['message'].errors.required && UpdateForm.controls['message'].touched">
                                  Message field can not be blank</mat-error>
                              </mat-form-field>
                
                              <span class="content_header_wrapper">
                                  <button class="btnblack" mat-raised-button type="button">Submit</button>
                             </span>                
                        </form> 
                      </div>
                </mat-card-content>
            </div>        
        </mat-card-content>  
    </mat-card-content>
</mat-card>

<mat-card class="footerblock">
    <mat-card-content class="mainwrapper">
        <p>Copyright © 2020 Lamp Consulting Group. All rights reserved. <a href="/">terms and conditions</a>, <a href="/">privacy</a> </p>
    </mat-card-content>
</mat-card>    