
html, body { height: 100%; }
body { margin: 0;}
*, *::after, *::before { box-sizing:border-box;margin:0;padding:0}
html,body{height:100%; font-family: 'RalewayRegular';}
a,a:visited,a:focus,a:active,a:link{text-decoration:none;outline:0; cursor: pointer;}
a{color:var(--link-color);transition:.2s ease-in-out}
h1, h2, h3, h4 {margin: .3em 0;}

@font-face {
    font-family: 'RalewayRegular';
    src: url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Regular.eot');
    src: url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Regular.woff2') format('woff2'),
        url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Regular.woff') format('woff'),
        url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Regular.ttf') format('truetype'),
        url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayMedium';
    src: url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Medium.eot');
    src: url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Medium.woff2') format('woff2'),
        url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Medium.woff') format('woff'),
        url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Medium.ttf') format('truetype'),
        url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayBold';
    src: url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Bold.eot');
    src: url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Bold.woff2') format('woff2'),
        url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Bold.woff') format('woff'),
        url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Bold.ttf') format('truetype'),
        url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: 'RalewayExtraBold';
  src: url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-ExtraBold.eot');
  src: url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-ExtraBold.woff2') format('woff2'),
      url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-ExtraBold.woff') format('woff'),
      url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-ExtraBold.ttf') format('truetype'),
      url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayBlack';
  src: url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Black.eot');
  src: url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
      url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Black.woff2') format('woff2'),
      url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Black.woff') format('woff'),
      url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Black.ttf') format('truetype'),
      url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-Black.svg#Raleway-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'RalewaySemiBold';
  src: url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-SemiBold.eot');
  src: url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-SemiBold.woff2') format('woff2'),
      url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-SemiBold.woff') format('woff'),
      url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-SemiBold.ttf') format('truetype'),
      url('https://all-frontend-assets.s3.amazonaws.com/lamp-consulting/assets/fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
 
/* Variables */

:root {
    --main-bg-w-color: #fff;
    --main-bg-color: #f5f5f7;
    --main-txt-color: #353535;    
    --height-window:100vh;
    --border-radius-0: 0;
    --wrapper-1600:1600px;
    --gray-bgColor:#e6e7e8;

    --color-txt:#fff;
    --color-b-txt:#353535;
    --color-b1-txt:#454545;
    --color-b2-txt:#515353;
    --color-b3-txt:#051f3c;
    --color-link-txt:#0072ff;
    --section-block--top-padding:60px;
    --section-block-bottom-padding:60px;
    --text-shadow:1px 1px 2px rgba(150, 150, 150, 1);;
  
    /* Colors */
    --gray-base:              #000;
    --gray-darker:            lighten(--gray-base, 13.5%);
    --gray-dark:              lighten(--gray-base, 20%);
    --gray:                   lighten(--gray-base, 33.5%);
    --gray-light:             lighten(--gray-base, 46.7%);
    --gray-lighter:           lighten(--gray-base, 93.5%);
  
    --brand-primary:         #000000;
    --brand-success:         #5cb85c;
    --brand-info:            #5bc0de;
    --brand-warning:         #f0ad4e;
    --brand-danger:          #d9534f;
  
  /* Scaffolding */
    --body-bg:               #fff;
    --body-bg-orange:        #f47e0f;
    --body-bg-blue:          #10abfd;
    --body-bg-black:         #353535;
    --text-color:            var(--gray-dark);
    --link-color:            var(--brand-primary);
    --link-hover-color:       #fff;
    --link-hover-decoration: underline;
  }
  
  * {  
    /* Typography */
    --main-font: 'RalewayRegular';
    --main-medium-font: 'RalewayRegular';
    --main-bold-font: 'RalewayBold';
    --main-semibold-font: 'RalewaySemiBold';
    --main-extrabold-font: 'RalewayExtraBold';
    --main-black-font: 'RalewayBlack';
    --base-menu-font-size:13px;
  }

  .mat-list-base{padding:0;list-style:none}
  img{vertical-align:middle;height:auto;max-width:100%}
  [hidden]{display:none}
  :host /deep/ .mat-card-content {font-size: var(--base-menu-font-size);}
  :host /deep/ .mat-card-subtitle {margin-bottom: 0 !important;}
  :host /deep/ .mat-list-item-content {padding: 0 !important;} 
  :host /deep/ .m-c-t {margin-bottom: 0 !important;}
  :host /deep/ .mat-card-subtitle:not(:first-child), .m-c-t:not(:first-child) {margin-top: 0;}
  :host /deep/ .mat-card{font-family: var(--main-font) !important;padding: 0 !important;border-radius: 0 !important; box-shadow: none;}
  :host /deep/ .mainfooter_block1_con2_top .mat-list-base .mat-list-item .mat-list-item-content{padding:0 !important;}
  
  .mat-list-base {padding-top: 0;}    
  .mat-card:not([class*=mat-elevation-z]){box-shadow: none;}
  .mat-list-base .mat-list-item {font-family: var(--main-font);font-size: 16px;}
  .mat-card{padding:0 !important;margin:0 !important;border-radius: 0 !important;}
  .pTB{padding: 0;border-radius: 0;padding-top: var(--section-block--top-padding) !important;padding-bottom: var(--section-block-bottom-padding) !important;}
  .mainwrapper{width:var(--wrapper-1600); margin: 0 auto;display: block;}
  .clientbox .mainwrapper{width: 1860px;}

  /* .mat-form-field-appearance-fill .mat-form-field-underline::before {height: 0 !important;}
  .mat-form-field-appearance-fill .mat-form-field-underline .mat-form-field-ripple{background-color:transparent !important}
  .mat-form-field{font-size:18px; font-family: var(--font-family-base-regular);}
  .mat-form-field-flex {border: 1px solid #c6cfcf !important;border-radius: 0px !important;background: #e3e9e9;border-top: 0;padding: 20px 10px;}
  .mat-form-field-wrapper {padding-bottom: 16px;}
  .contactusformblock .flex-row-gen .main-row-gen .mat-form-field.capturecls .mat-form-field-infix{padding:0 !important}
  .mat-form-field-appearance-fill .mat-form-field-flex {background-color: #e3e9e9;} */


.main-row-gen p{color:var(--color2-txt);margin-top:14px!important;font-family:var(--main-font);font-size:var(--base-menu-font-size);line-height: 30px;}

.m-c-t1{font-family:var(--main-medium-font);font-size:48px;}
.m-c-t2{font-family:var(--main-medium-font);font-size:30px;}
.m-c-t3{font-family:var(--main-medium-font);font-size:24px;}
.m-c-t4{font-family:var(--main-medium-font);font-size:18px}
.m-c-t5{font-family:var(--main-medium-font);font-size:14px}
.m-c-t6{font-family:var(--main-medium-font);font-size:12px}
p{font-family:var(--main-font);margin:0;width:fit-content;font-size:16px;margin-top:26px!important}
.mstxtcenter{text-align:center}
.matbuttoncls{padding:20px 70px!important;background:-webkit-gradient(linear,left top,right top,from(rgba(247,203,0,1)),to(rgba(255,192,0,1)));background:linear-gradient(90deg,rgba(247,203,0,1) 0%,rgba(255,192,0,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7cb00',endColorstr='#ffc000',GradientType=1);border-radius:50px!important;font-family:var(--main-bold-font);text-transform:uppercase;font-size:18px;color:#171a1d}

  /******** flex-column ********/
  .flex-column-gen{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;box-orient:vertical;width:100%}
  .main-gen,.sideblock-gen{width:100%}
  .sideblock-gen{-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;order:2}
  .main-gen{-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;order:1}
    /******** flex-Row ********/
  .flex-row-gen{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex!important;-webkit-box-orient: horizontal;-moz-box-orient: horizontal;-webkit-box-direction: normal;-moz-box-direction: normal; -webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;width:100%}
  .main-row-gen{-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;order:1}
  .sideblock-row-gen{-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;order:2}


  /* coldiv */
  .coldiv .column4, .coldiv .column3, .coldiv .column2, .coldiv .column1{display:flex!important;align-items:stretch!important;flex-wrap:wrap!important;justify-content:center!important;width: 100%;}
  .coldiv{height:auto!important;display:flex!important;align-items:stretch!important;flex-wrap:wrap!important;justify-content:center!important}
  .coldiv .mat-card{flex: 1 0 32.33333333%;display:flex;justify-content:space-between;cursor:default;background-color:var(--c-t-bg-w)!important;position:relative!important;overflow:hidden!important;align-items:stretch;margin: .5%;padding:10px;}
  .coldiv .column4 .mat-card{flex: 1 0 24%;display:flex;justify-content:space-between;cursor:default;background-color:var(--c-t-bg-w)!important;position:relative!important;overflow:hidden!important;align-items:stretch;margin: .5%;padding:10px;}
  .coldiv .column3 .mat-card{flex: 1 0 32.33333333%;display:flex;justify-content:space-between;cursor:default;background-color:var(--c-t-bg-w)!important;position:relative!important;overflow:hidden!important;align-items:stretch;margin: 1%;padding:10px;}
  .coldiv .column2 .mat-card{flex: 1 0 49%;display:flex;justify-content:space-between;cursor:default;background-color:var(--c-t-bg-w)!important;position:relative!important;overflow:hidden!important;align-items:stretch;margin: .5%;padding:10px;}
  .coldiv .column1 .mat-card{flex: 1 0 99%;display:flex;justify-content:space-between;cursor:default;background-color:var(--c-t-bg-w)!important;position:relative!important;overflow:hidden!important;align-items:stretch;margin: .5%;padding:10px;}
  .coldiv .mat-card {position: relative;overflow: hidden;}

   .m-c-t110{font-family:var(--main-bold-font2);font-size:110px;line-height:100px;text-transform:uppercase}

/* 
  .box-gradient-yellow{color:var(--color-txt) !important;text-transform: uppercase;background: -moz-linear-gradient(270deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 224, 30,1)), color-stop(100%, rgba(253,190,0,1))); 
    background: -webkit-linear-gradient(270deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); 
    background: -o-linear-gradient(270deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); 
    background: -ms-linear-gradient(270deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); 
    background: linear-gradient(180deg, rgba(254, 224, 30,1) 0%, rgba(253,190,0,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee622', endColorstr='#fdbe00',GradientType=0 ); }

    .text-gradient-blue {text-transform: capitalize;background: linear-gradient(to bottom,rgba(13,187,255,1) 0%, rgba(55,199,255,1) 50%, rgba(4,148,208,1) 52%, rgba(5,184,254,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;} */

.btnorange{background:var(--body-bg-orange);font-family:var(--main-bold-font2);color:var(--color-txt);border-radius: 0; }
.btnblue{background:var(--body-bg-blue);font-family:var(--main-bold-font2);color:var(--color-txt);border-radius: 0; }
.btnblack{background:var(--body-bg-black);font-family:var(--main-bold-font2);color:var(--color-txt);border-radius: 0; }

/******** LOADER ********/
.outer{bottom:0;right:0;top:0;margin:auto;width:100%;text-align:center;height:200px;padding-top:50px;z-index: 999999;position: absolute;}
.outer svg{margin-bottom:10px;top:0}
pre{display:block;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:1.42857143;color:#333;word-break:break-all;word-wrap:break-word;background-color:#f5f5f5;border:1px solid #ccc;border-radius:0}
.infinity{width:120px;height:60px;position:relative;margin:auto}
.infinity div,.infinity span{position:absolute}
.infinity div{top:0;left:50%;width:60px;height:60px;animation:rotate 6.9s linear infinite}
.infinity div span{left:-8px;top:50%;margin:-8px 0 0;width:16px;height:16px;display:block;background:#ff4c60;box-shadow:2px 2px 8px rgba(255,76,96,0.09);border-radius:50%;transform:rotate(90deg);animation:move 6.9s linear infinite}
.infinity div span:before,.infinity div span:after{content:"";position:absolute;display:block;border-radius:50%;width:14px;height:14px;background:inherit;top:50%;left:50%;margin:-7px 0 0 -7px;box-shadow:inherit}
.infinity div span:before{animation:drop1 .8s linear infinite}
.infinity div span:after{animation:drop2 .8s linear infinite .4s}
.infinity div:nth-child(2){animation-delay:-2.3s}
.infinity div:nth-child(2) span{animation-delay:-2.3s}
.infinity div:nth-child(3){animation-delay:-4.6s}
.infinity div:nth-child(3) span{animation-delay:-4.6s}
.infinityChrome{width:128px;height:60px;margin:auto}
.infinityChrome div{position:absolute;width:16px;height:16px;background:#ff4c60;box-shadow:2px 2px 8px rgba(255,76,96,0.09);border-radius:50%;animation:moveSvg 6.9s linear infinite;-webkit-filter:url(#goo);filter:url(#goo);transform:scaleX(-1);offset-path:path("M64.3636364,29.4064278 C77.8909091,43.5203348 84.4363636,56 98.5454545,56 C112.654545,56 124,44.4117395 124,30.0006975 C124,15.5896556 112.654545,3.85282763 98.5454545,4.00139508 C84.4363636,4.14996252 79.2,14.6982509 66.4,29.4064278 C53.4545455,42.4803627 43.5636364,56 29.4545455,56 C15.3454545,56 4,44.4117395 4,30.0006975 C4,15.5896556 15.3454545,4.00139508 29.4545455,4.00139508 C43.5636364,4.00139508 53.1636364,17.8181672 64.3636364,29.4064278 Z")}
.infinityChrome div:before,.infinityChrome div:after{content:"";position:absolute;display:block;border-radius:50%;width:14px;height:14px;background:inherit;top:50%;left:50%;margin:-7px 0 0 -7px;box-shadow:inherit}
.infinityChrome div:before{animation:drop1 .8s linear infinite}
.infinityChrome div:after{animation:drop2 .8s linear infinite .4s}
.infinityChrome div:nth-child(2){animation-delay:-2.3s}
.infinityChrome div:nth-child(3){animation-delay:-4.6s}

.svglogo{display: block;z-index: 999;position: absolute;left:50%; top:48%;transform: translate(-50%, -50%);}

@keyframes moveSvg {
0%{offset-distance:0}
25%{background:#6c6ce5}
75%{background:#ffd15c}
100%{offset-distance:100%}
}
@keyframes rotate {
50%{transform:rotate(360deg);margin-left:0}
50.0001%,100%{margin-left:-60px}
}
@keyframes move {
0%,50%{left:-8px}
25%{background:#ffd15c}
75%{background:#6c6ce5}
50.0001%,100%{left:auto;right:-8px}
}
@keyframes drop1 {
100%{transform:translate(32px,8px) scale(0)}
}
@keyframes drop2 {
0%{transform:translate(0,0) scale(0.9)}
100%{transform:translate(32px,-8px) scale(0)} 
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
 outer{bottom:0;right:0;top:0;margin:auto;width:100%;text-align:center;height:200px;padding-top:50px;z-index: 999999;position: absolute;}
.outer svg{margin-bottom:10px;top:0}
pre{display:block;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:1.42857143;color:#333;word-break:break-all;word-wrap:break-word;background-color:#f5f5f5;border:1px solid #ccc;border-radius:0}
.infinity{width:120px;height:60px;position:relative;margin:auto}
.infinity div,.infinity span{position:absolute}
.infinity div{top:0;left:50%;width:60px;height:60px;animation:rotate 6.9s linear infinite}
.infinity div span{left:-8px;top:50%;margin:-8px 0 0;width:16px;height:16px;display:block;background:#ff4c60;box-shadow:2px 2px 8px rgba(255,76,96,0.09);border-radius:50%;transform:rotate(90deg);animation:move 6.9s linear infinite}
.infinity div span:before,.infinity div span:after{content:"";position:absolute;display:block;border-radius:50%;width:14px;height:14px;background:inherit;top:50%;left:50%;margin:-7px 0 0 -7px;box-shadow:inherit}
.infinity div span:before{animation:drop1 .8s linear infinite}
.infinity div span:after{animation:drop2 .8s linear infinite .4s}
.infinity div:nth-child(2){animation-delay:-2.3s}
.infinity div:nth-child(2) span{animation-delay:-2.3s}
.infinity div:nth-child(3){animation-delay:-4.6s}
.infinity div:nth-child(3) span{animation-delay:-4.6s}
.infinityChrome{width:128px;height:60px;margin:auto}
.infinityChrome div{position:absolute;width:16px;height:16px;background:#ff4c60;box-shadow:2px 2px 8px rgba(255,76,96,0.09);border-radius:50%;animation:moveSvg 6.9s linear infinite;-webkit-filter:url(#goo);filter:url(#goo);transform:scaleX(-1);offset-path:path("M64.3636364,29.4064278 C77.8909091,43.5203348 84.4363636,56 98.5454545,56 C112.654545,56 124,44.4117395 124,30.0006975 C124,15.5896556 112.654545,3.85282763 98.5454545,4.00139508 C84.4363636,4.14996252 79.2,14.6982509 66.4,29.4064278 C53.4545455,42.4803627 43.5636364,56 29.4545455,56 C15.3454545,56 4,44.4117395 4,30.0006975 C4,15.5896556 15.3454545,4.00139508 29.4545455,4.00139508 C43.5636364,4.00139508 53.1636364,17.8181672 64.3636364,29.4064278 Z")}
.infinityChrome div:before,.infinityChrome div:after{content:"";position:absolute;display:block;border-radius:50%;width:14px;height:14px;background:inherit;top:50%;left:50%;margin:-7px 0 0 -7px;box-shadow:inherit}
.infinityChrome div:before{animation:drop1 .8s linear infinite}
.infinityChrome div:after{animation:drop2 .8s linear infinite .4s}
.infinityChrome div:nth-child(2){animation-delay:-2.3s}
.infinityChrome div:nth-child(3){animation-delay:-4.6s}

@keyframes moveSvg {
0%{offset-distance:0}
25%{background:#6c6ce5}
75%{background:#ffd15c}
100%{offset-distance:100%}
}
@keyframes rotate {
50%{transform:rotate(360deg);margin-left:0}
50.0001%,100%{margin-left:-60px}
}
@keyframes move {
0%,50%{left:-8px}
25%{background:#ffd15c}
75%{background:#6c6ce5}
50.0001%,100%{left:auto;right:-8px}
}
@keyframes drop1 {
100%{transform:translate(32px,8px) scale(0)}
}
@keyframes drop2 {
0%{transform:translate(0,0) scale(0.9)}
100%{transform:translate(32px,-8px) scale(0)} 
}
}


.scroll-to-top{position:fixed;bottom:20px;right:30px;z-index:999999;border:none;outline:none;cursor:pointer;padding: 1px;display:block;opacity:0;transition:all .2s ease-in-out;    background-color: #353535;
  width: 30px !important;border-radius: 100% !important;height: 30px !important;color: #fff;border: 2px solid #cdcdcd}
.show-scrollTop{opacity:1;transition:all .2s ease-in-out}
.scroll-to-top svg{color:#fff;fill: currentColor;}


/* modal part for terms and conditions */
.content_main_wrapper {position: relative; }
.content_main_wrapper .logoPart{ background: var(--c-t-bg); text-align: center; }
.content_main_wrapper .logoPart img{ max-width: 100%; }
.content_main_wrapper .mat-dialog-title {font-family:var(--main-bold-font); color: var(--c-t-primary-btn_title); font-size: 34px; margin-top: 20px; display: block;}
.content_main_wrapper .mat-typography{ margin: 0; padding: 0;}
.content_main_wrapper h3{ font-family: var(--main-bold-font); color: #683c45; font-size: 20px; margin-bottom: 10px; position: relative; padding-left: 0; }
.content_main_wrapper h3::before{ content: ''; position: absolute; width: 10px; height: 10px; background: var(--c-t-primary); left: 3px; top: 8px;
  transform: rotate(45deg);  }
.content_main_wrapper p{ font-family: var(--main-font); color: var(--c-t-primary-btn_title); font-size: 16px; line-height: 24px;margin-top: 5px!important;}
.content_main_wrapper p a{ color: var(--c-t-secondary); }
.content_main_wrapper p a:focus{outline: none; }
.content_main_wrapper .mat-list-base{margin-bottom: 16px; line-height: 26px;}
.content_main_wrapper .mat-list-base .mat-list-item{ height: auto; margin-bottom: 8px;}
.content_main_wrapper .mat-list-base .mat-list-item span{width: 95px;color: #683c45;font-family: var(--main-bold-font);margin-right: 5px;}
.content_main_wrapper .mat-list-base .mat-list-item a{ color: var(--c-t-secondary);}
.content_main_wrapper .action_button{
  position: absolute;
    top: -8px;
    right: -8px;
    background: #a43503;
    border-radius: 0;
    height: 24px;
    width: 24px;
    padding: 0px;
    min-width: 1px;
    line-height: normal;
    color: #fff;
}

.cdk-overlay-pane.termsconditionModal .mat-dialog-container{overflow-y: scroll !important;overflow: hidden;padding: 10px;}
.cdk-overlay-pane.privacyModal .mat-dialog-container{overflow-y: scroll !important;overflow: hidden;padding: 10px;}
.cdk-overlay-pane.successModal .mat-dialog-container{overflow-y: scroll !important;overflow: hidden;padding: 10px;}
.privacyModal .mat-dialog-content, .termsconditionModal .mat-dialog-content {overflow: inherit;}
.content_main_wrapper .mat-list-base .mat-list-item svg{margin-right: 10px;}
.cdk-overlay-pane.privacyModal .mat-dialog-container, .cdk-overlay-pane.termsconditionModal, .cdk-overlay-pane.successModal .mat-dialog-container{max-height: 100%;}
.content_main_wrapper .mat-list-base .mat-list-item svg{height: 28px;width: auto;}
/* .success-modal{min-width:450px;max-width:96%;margin:0 auto;width:600px!important} */
app-confirm .main_header {position: relative;    text-align: center;}
app-confirm .main_header .mat-card-title{margin-top: 15px; margin-bottom: 0;}
.textarea.mat-input-element{resize: none;}
app-confirm .main_header .close {    
  position: absolute;
  top: -8px;
  right: -8px;
  background: #a43503;
  border-radius: 0;
  height: 24px;
  width: 24px;
  padding: 0px;
  min-width: 1px;
  line-height: normal;
  color: #fff;
}
.cdk-overlay-pane.privacyModal{
  max-width: 96%;
  margin: 0 auto;
  box-shadow: 0 1px 4px 0 rgba(168,168,168,0.5);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  padding: 0!important;
  border-radius: 0!important;
  height: inherit!important;
  border: 2px solid #777575;
  height: 94% !important;
}
.cdk-overlay-pane.successModal {
  width: 480px;
  margin: 0 auto;
  box-shadow: 0 1px 4px 0 rgba(168,168,168,0.5);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  padding: 0!important;
  border-radius: 0!important;
  height: auto !important;
  border: 2px solid #777575;
}

@media (max-width: 1880px) {
.clientbox .mainwrapper{width:96%;margin:0 auto;display:block}
}
@media (max-width: 1666px) {
.mainwrapper{width:96%;margin:0 auto;display:block}
.m-c-t3{--max-font:20}
}
@media (max-width: 991px) {
p br{display:none}
p{margin-top:15px!important}
.m-c-t3 br,.mat-card-subtitle br,.m-c-t1 br{display:none}
.innerpagebannerbg .m-c-t{--min-font:60}
.innerpagebannerbg .flex-row-gen{flex-wrap:wrap;justify-content:center}
.m-c-t1{line-height:normal}
.serviceblock1img-wrapper img{margin-top:30px}
.m-c-t2{line-height:normal}
.coldiv .column4 .mat-card {flex: 1 0 46%;margin: 2% !important;}
p {width: 100%;margin-top: 0 !important;}
.prefooterblock .flex-row-gen {flex-direction: column;flex-wrap: wrap;}
.prefooterblock .example-container{padding: 20px;border: 1px solid #bfc0c1}
.contactinfo {display: flex !important;justify-content: space-between;align-items: center;width: 100%;}
.contactinfo .mat-list-item .mat-list-item-content{flex-direction: column !important;}
.contactinfo .mat-list-item{height: auto !important; }
.b2 .b2-content p.mat-card-title {max-width: 100%;}
.b2 .b2-content .coldiv .mat-card {margin: 2% !important;flex: 0 0 46%;}
}
@media (max-width: 600px) {
.matbuttoncls{padding:10px 30px!important}
.innerpagebannerbg .mat-card-subtitle br{display:none}

.content_main_wrapper .logoPart img {max-width: 60%;}

.contactinfo {flex-direction: column;}
.contactinfo .mat-list-item {margin-bottom: 18px;}
.contactinfo .mat-list-item:last-child {margin-bottom: 0;}
.scroll-to-top {bottom: 75px;right: 16px;width: 40px;}
.cdk-overlay-pane.termsconditionModal .mat-dialog-container {max-width: 98% !important;min-width: inherit;overflow-y: scroll !important;overflow: hidden;padding: 10px;}
.cdk-overlay-pane.privacyModal .mat-dialog-container {max-width: 100% !important;overflow-y: scroll !important;overflow: hidden;min-width: inherit;padding: 10px;}
.content_main_wrapper .action_button {width: 24px;height: 24px;line-height: normal;}
.cdk-overlay-pane.privacyModal .mat-dialog-container, .cdk-overlay-pane.termsconditionModal, .cdk-overlay-pane.successModal .mat-dialog-container{max-width: 96vw;}
.content_main_wrapper .mat-list-base .mat-list-item .mat-list-item-content{flex-wrap: wrap;}

}

@media (max-width: 480px) {
  .coldiv .column4 .mat-card {flex: 1 0 98% !important;}
  .content_main_wrapper .mat-dialog-title {font-size: 26px;margin-bottom: 10px;}
}

